div {
    &.card {
        &.hidden {
            display: none;
        }
    }
}

footer {
    &.page-footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}

#nova {
    span {
        &.badge {
            float: left;
        }
    }
} // #nova span.badge { float: left }

nav {
    .brand-logo {
        font-size: 1em;
    }
}